<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Syncify</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">

            <!-- Album Artwork -->
            <div id="artwork-div" class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <img id="artwork" class="img-responsive center-block">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Playlist Information -->
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading" id="heading">Syncify</h1>
                        <p class="intro-text" id="song-name">An app to sync spotify across multiple desktops</p>
                        <button id="refreshButton" type="button" class="btn btn-success">Refresh</button>
                        <button id="playButton" type="button" class="btn btn-success">Play</button>
                        <button id="nextButton" type="button" class="btn btn-primary">Play Next</button>
                        <button id="imageButton" type="button" class="btn btn-secondary">Show Artwork</button>
                        <p></p>
                        
                            <label id=label1></label>
                            <br>
                            <label id=label2></label>
                            <br>
                            <label id=label3></label>
                            <br>
                            <label id=label4></label>
                            <br>
                            <label id=label5></label>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!-- Socket.io init -->
    <script src="js/socket.io/socket.io.js"></script>

</body>

</html>